<% if (loggedIn) { %>

<nav class="navbar navbar-expand-lg navbar-light mint">
  <a class="navbar-brand" href="/">Etch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active left">
        <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/etches/new">New Etch</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.ibm.com/watson/" target="_blank">IBM Watson</a>
          <a class="dropdown-item" href="https://www.ibm.com/watson/developer/" target="_blank">The API</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Social_anxiety_disorder" target="_blank">Social Anxiety</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Asperger_syndrome" target="_blank">Asperger Syndrome</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://generalassemb.ly/locations/los-angeles/santa-monica" target="_blank">General Assembly</a>
        </div>

      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link right" id="logout-btn" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-light mint">
  <a class="navbar-brand" href="/">Etch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link right" href="/signup">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link right" href="/login">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<% } %>