<!DOCTYPE html>
<html>
<head>
	<title>Etch</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat:400,800" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	
</head>
<body>
	<% include ../views/partials/nav.ejs %>
	<div class="container">
		<%- body %>
	</div>
	<% include ../views/partials/footer.ejs %>
</body>
</html>