h1, h2, h3, h4, h5 , h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.low-margin {
    margin-bottom: 30px;
}

.deep-margin {
    margin-bottom: 60px;
}

.high-margin {
    margin-top: 30px;
}

.profile-box {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 10px; 
    margin-bottom: 5px;
    list-style-type: none;
    opacity: .7;
}

.profile-box:hover {
    font-size: 20px;
    font-style: oblique;
}

.anger.gradient {
    background: linear-gradient(to right, white , #BF3330)
    }

.anger {
    background: #BF3330;
}


.joy.gradient {
    background: linear-gradient(to right, white , #E5B724)
}

.joy{
    background: #E5B724;
}

.fear.gradient {
    background: linear-gradient(to right, white , #40103E)
}

.fear {
    background: #40103E;
}

.disgust.gradient {
    background: linear-gradient(to right, white , #14A76C)
}

.disgust {
    background: #14A76C;
}

.sadness.gradient {
    background: linear-gradient(to right, white , #373F7F)
}

.sadness {
    background: #373F7F;
}

.mint {
    background-color:rgba(55, 63, 127, 0.3);
     /* rgb(20,167,108,0.8);
     55,63,127 */
}

.etch-btn {
    margin: 5px;
}

.profile-btn {
    margin: 5px;
}

/* Splash Page */
.post-container {
    margin: 20px 20px 0 0;  
    /* border: 3px solid #333; */
    overflow: auto
}

.post-thumb {
    float: left
}

.post-thumb-right {
    float: right;
}


.post-thumb img {
    display: block;
    
}

.post-content {
    margin-left: 210px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

.post-container p {
    font-family: 'EB Garamond', serif;
}

.img-circle {
    border-radius: 50%;
}

.img-rounded{
    border-radius: 25%;  
}

#space-below {
    margin-bottom: 35px;
}

#space-above {
    margin-top: 35px;
}

/* Footer */


.container {
    min-height: 80vh;
}

.foot {
    width: 100%;
    color: #14A76C;
    text-align: center;
}

/* CSS FOR BAR CHART */

.graph-container {
    height: 450px;
    min-width: 380px;
    max-width: 650px;
}

.bar {
    margin: 0 3% 0 0;
    border-radius: 4px 4px 0 0; 
    box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; 
    padding:  0;
    vertical-align: bottom;
}

.label {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.percentage {
    font-weight: 400;
}

.blue {
    background: #5762b7;
    background-image: linear-gradient( #5762b7, #373F7F 70%);
    border: 1px solid #373F7F;
}

.yellow {
    background: #fde79b;
    background-image: linear-gradient( #fde79b, #E5B724 70%);
    border: 1px solid #E5B724;
}

.purple {
    background: #761e72;
    background-image: linear-gradient( #761e72, #40103E 70%);
    border: 1px solid #40103E;
}

.green {
    background: #18cd85;
    background-image: linear-gradient( #97e5c1, #14A76C 70%);
    border: 1px solid #14A76C;
}

.red {
    background: #BF3330;
    background-image: linear-gradient( #d65e5c, #BF3330 70%);
    border: 1px solid #BF3330;
}


.new-etch-background{
    background-color: rgba(229, 183, 36, 0.27);
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 0px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.3);
}


.text-field-height {
    height: 250px;
}

.edit-etch-background {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 0px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 2px 2px rgba(0,0,0,0.3);
}
   
