
<div class="edit-etch-form">   
  <div class="row">
      <% var path = etch.result.emotion.document.emotion %>
      <% var t = Object.keys(path).reduce((a, b) => path[a] > path[b] ? a : b)%>  
      <div class="col-md-6 offset-md-3 <%= t %> solid">
          <h1>Edit Etch</h1>

<h1 class="high-margin">Edit</h1>

    <form method="post" action="/etches">
        <div class="form-group">
          <label for="etchTitle">Etch Title</label>
          <input type="text" name="title" class="form-control" id="etchTitle" value= "<%= etch.title %>">
        </div>
        <div class="form-group">
          <label for="etchText">Etch Body</label>

          <textarea class="form-control text-field-height" name="body" id="etchtext" rows="3"><%= etch.body %></textarea>

          <textarea class="form-control" name="body" id="etchtext" rows="3"><%= etch.body %></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Reanalyze</button>
      </form>
    </div>
  </div>
</div>