<div class="text-center ">
    <h1 id="space-above"><span class=""></span>Etch</h1>
    <hr id="space-below">
</div>

<div class="row low-margin">
    <div class="col-md-9 order-2 order-md-1">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"><h3 class="post-title">Insightful</h3></div>
        </div>
        <p>Etch is a tool to highlight the cues and subtleties we broadcast every day, sometimes subconsciously. By utilizing the power of IBM’s super computer Watson we can accurately analyze the language in a message and reveal the underlying emotions being communicated. Originally built to assist people with developmental disorders such as Asperger Syndrome or social anxiety, the Etch platform helps people express what they mean and realize how their statements may be perceived by the world around them.</p>
    </div>
    <div class="col-md-3 order-1 order-md-2 text-center">
        <img class="img-circle" src="/img/watson.jpg" />
    </div>
</div>

<div class="row low-margin">
    <div class="col-md-3 order-1 order-md-1 text-center">
        <img class="img-circle" src="/img/free.jpg" />
    </div>
    <div class="col-md-9 order-2 order-md-2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"><h3 class="post-title">Free</h3></div>
        </div>
        <p>Team Sherlock worked hand-in-hand to offer the Etch service free of charge! We will never ask for your credit card information or plaster the website with banners and ads. Etch is here to help you express yourself in an easy, fun, and helpful manner. All we ask when signing up is for a user name and an email address and that is just for authentication purposes, we will never email you or clutter up your busy life. We are here to make things more clear, more streamlined, and we deeply appreciate you using our tool and helping us learn more about the world around us.</p>        
    </div>
</div>

<div class="row deep-margin">
    <div class="col-md-9 order-2 order-md-1">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"><h3 class="post-title">Fun</h3></div>
        </div>
        <p>What started out as only a tool to help others, we quickly realized that our tool could just as easily be used for fun. Very soon after creation we started seeing the website being used to interpret song lyrics, poems, and short passages from favorite books. This was very exciting and quite the adaptation. Suddenly people were having a great time trying to guess what their favorite Led Zeppelin song’s essential emotions were or what their most cherished Emily Dickinson.</p>        
    </div>
    <div class="col-md-3 order-1 order-md-2 text-center">
        <img class="img-circle" src="/img/band.jpg" />
    </div>
</div>